<div class="row">
  <div class="col-md-12 nav">
    <ul class="list-inline">
      <li><a [routerLink]="['/movies/upcoming']">Upcoming</a></li>
      <li><a [routerLink]="['/movies/in-theaters']">In Theaters</a></li>
      <li><a [routerLink]="['/movies/opening']">Opening This Week</a></li>
      <li><a [routerLink]="['/rentals/top-rentals']">Top Rentals</a></li>
      <li><a [routerLink]="['/rentals/new-releases']">New Rental Releases</a></li>
      <li><a [routerLink]="['/rentals/upcoming']">Upcoming Rental Releases</a></li>
    </ul>
  </div>
</div>
